* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

#bgvideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
}
a {
  color: white;
}
header {
  position: relative;
}
.demo {
  position: absolute;
  left: 0;
  font-size: 2rem;
  text-align: center;
  color: rgba(173, 216, 230, 1);
  margin-inline: 10px;
  border-inline: 2px solid rgba(173, 216, 230, 1);
  border-radius: 10px;
  padding-inline: 5px;
}
.navbar {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tabs {
  z-index: 2;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tab {
  position: relative;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  align-items: center;
  list-style: none;
  margin-inline: 55px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1;
  animation: shadow-drop-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 rgba(173, 216, 230, 0);
  }
  100% {
    box-shadow: 0 12px 20px -12px rgba(173, 216, 230, 0.35);
  }
}
a {
  text-decoration: none;
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 945px;
  width: 100vw;
}
.greeting {
  position: relative;
  bottom: 43px;
  color: white;
  font-size: 2.5rem;
}

.f-end {
  font-size: 4rem;
  color: white;
  font-weight: 500;
}

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 945px;
  width: 100vw;
}

#who {
  position: absolute;
  color: white;
  font-size: 5rem;
}
.fade-out {
  animation: fade-out-bck 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
@keyframes fade-out-bck {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    scale: 0.7;
    transform: translateZ(-80px);
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0.8s;
}

@keyframes fade-in-fwd {
  0% {
    scale: 0.5;
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    scale: 1;
    transform: translateZ(0);
    opacity: 1;
  }
}
#anim {
  opacity: 0;
}
.myself {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 80%;
}

.head {
  color: rgb(173, 216, 230);
  font-size: 4rem;
  text-decoration: underline;
}

.text {
  font-size: 2rem;
  color: white;
}

.skills {
  margin-top: 40px;
  display: flex;
}
.skill-text {
  border-right: 1px solid rgb(173, 216, 230);
  padding-right: 20px;
  color: rgb(173, 216, 230);
  font-size: 3rem;
}
.logo {
  font-size: 4rem;
  margin: 5px;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 945px;
  width: 100%;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90%;
}
.phead {
  font-size: 3rem;
  position: relative;
  top: 2%;
}
.pf {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
}

.pj {
  z-index: -2;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 650px;
  height: 350px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px rgba(173, 216, 230, 0.5);
  border-radius: 10px;
}
h1 {
  font-size: 2em;
  color: rgba(173, 216, 230, 1);
  margin-top: -5px;
}
.imgtxt {
  position: absolute;
  font-size: 3rem;
  font-weight: 900;
  color: red;
  top: 25%;
  left: 6%;
  rotate: -35deg;
}
img {
  position: relative;
  width: 320px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5%;
  filter: blur(7px);
  z-index: -1;
}
.explanation {
  font-size: 1.2rem;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 4%;
  left: 53%;
}

.txt {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: white;
  font-size: 1.1rem;
  margin-right: 25px;
}

.bottom {
  position: relative;
  bottom: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.btmtxt {
  font-size: 1.5rem;
  border-right: 1px solid white;
  padding-right: 15px;
  margin-right: 10px;
}

.bs {
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
}

#contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 945px;
  width: 100vw;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90%;
}

.fborder {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 50px;
  width: 35%;
  height: 90%;
}
.fhead {
  position: absolute;
  top: 10px;
  font-size: 3rem;
}

.finput {
  border: 3px solid rgba(173, 216, 230, 1);
  padding: 16px;
  font-size: 1.5rem;
  width: 80%;
  height: 10%;
  border-radius: 20px;
  margin: 10px 0px;
}
.ftext {
  border: 3px solid rgba(173, 216, 230, 1);
  padding: 16px;
  font-size: 1.5rem;
  width: 80%;
  height: 30%;
  border-radius: 20px;
  margin: 10px 0px;
}

.fbutton {
  cursor: pointer;
  background-color: rgba(173, 216, 230, 1);
  font-size: 1.5rem;
  border: 1px solid rgba(173, 216, 230, 1);
  border-radius: 10px;
  height: 7%;
  width: 40%;
  margin-top: 10px;
}

.fbutton:hover {
  background-color: rgba(173, 216, 230, 0.85);
}
.devicon-github-original {
  background-color: white;
  border-radius: 5px;
}

.flogos {
  margin-top: 30px;
}

.flogo {
  font-size: 4rem;
  margin-inline: 5px;
}
