* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

#bgvideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}
.menu {
  height: 100%;
}
.menuborder {
  width: 400px;
  height: 450px;
  border: 2px solid rgb(78, 171, 151);
  border-radius: 3%;
  background-color: rgba(1, 0, 2, 0.7);
}

.menuheader {
  position: relative;
  top: 30px;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.menubtn {
  position: relative;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.portfolio {
  margin-inline: 10px;
  margin-block: 10px;
}

.settings {
  margin-inline: 10px;
  margin-block: 10px;
}

.btn {
  cursor: pointer;
  border: none;
  width: 290px;
  height: 75px;
  border-radius: 15px;
  background-color: rgba(51, 51, 51, 0.8);
  font-size: 2rem;
  color: rgb(210, 210, 210);
}

.btn:hover {
  background-color: rgb(210, 210, 210);
  color: rgb(51, 51, 51);
}
